@model eConnectV2.ViewModels.EISViewModel
@{
    ViewData["Title"] = "Standard Time Target Add";
    ViewData["PageHeading"] = "Standard Time Target Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="panel-hdr bg-primary-800 min-height-reset height-3">
        <h2 class="justify-content-center">
            <span class="fw-300 pr-1">Standard Time</span> Target Add
        </h2>
    </div>
    <div class="panel-container show">
        <div class="panel-content">
            @using (Html.BeginForm("StandardTimeTargetAdd", "EIS", FormMethod.Post, new { id = "myform", @class = "needs-validation", enctype = "multipart/form-data", novalidate = "novalidate" }))
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label font-weight-bold">Plant<span class="text-danger ml-1">*</span></label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <select asp-for="Plant" class="select2 custom-select form-control w-100" required>
                                        <option value="">-- Select --</option>
                                        <option value="BAWAL">BAWAL</option>
                                        <option value="MANESAR">MANESAR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label font-weight-bold">Division<span class="text-danger ml-1">*</span></label>
                            <div class="col-sm-6">
                                <select asp-for="Division" class="select2 custom-select form-control w-100" required>
                                    <option value="">-- Select --</option>
                                    <option value="PACK">PACK</option>
                                    <option value="SMT">SMT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label font-weight-bold">Model Name<span class="text-danger ml-1">*</span></label>
                            <div class="col-sm-6">
                                <input asp-for="Param1" value="@Model.Param1" class="form-control" type="text" autocomplete="off" required />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label font-weight-bold">Standard Time<span class="text-danger ml-1">*</span></label>
                            <div class="col-sm-6">
                                <input asp-for="Value1" class="form-control" placeholder="Please enter Standard Time" autocomplete="off" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="row p-1">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <button id="btnSave" type="submit" name="submit" class="btn btn-primary btn-sm">Submit</button>
                                <input asp-for="DocNo" type="hidden" value="0" />
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="row p-2">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="dt-hs" class="table w-100 table-bordered table-sm table-hover table-striped nowrap">
                        <thead class="bg-primary-800">
                            <tr>
                                <th class="notexport text-center" width="5%">Edit</th>
                                <th>Plant</th>
                                <th>Division</th>
                                <th>Model Name</th>
                                <th>Standard Time</th>
                                <th>User Id</th>
                                <th>TDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.GridList != null && Model.GridList.Count > 0)
                            {
                                @foreach (var item in Model.GridList)
                                {
                            <tr>
                                <td class="bg-primary-gradient text-center">
                                    <a title='Edit' href='javascript:void(0)' onclick='FillTarget("@item.DocNo") '><i class="fa fa-edit text-success mr-2 ml-3"></i></a>
                                </td>
                                <td> @item.Plant</td>
                                <td> @item.Division</td>
                                <td> @item.Param1</td>
                                <td> @item.Value1</td>
                                <td> @item.UserId</td>
                                <td> @item.TDate</td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock {
    <script src="~/js/defaultformvalidate.js"></script>
    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/js/datagrid/datatables/datatables.export.js"></script>
    <script src="~/js/datagrid/datatables/dths_excel.js"></script>
    <script src="~/js/inputfilter.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $('.select2').select2();
            });
        });

        setInputFilter(document.getElementById("StandardTime"), function (value) {
            return /^-?\d*[.,]?\d{0,3}$/.test(value);
        });

        function FillTarget(docno) {
            var requestUrl = 'EIS/FillStandardTime';
            $.post(requestUrl,
                {
                    docno: docno
                },
                function (model) {
                    $("#DocNo").val(model.docNo);
                    $("#Plant").val(model.plant).change();
                    $("#Division").val(model.division).change();
                    $("#Param1").val(model.param1).change();
                    $("#Value1").val(model.value1);

                    $("#Plant").prop("disabled", true);
                    $("#Division").prop("disabled", true);
                    $("#Param1").prop("disabled", true);

                    $("#btnSave").html("Update");
                });
        }
    </script>
}
