@model eConnectV2.ViewModels.SMTViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SMT - Material Received & Consumed";
    ViewData["PageHeading"] = "Store Add Material";
    ViewBag.Module = "SMT";
    ViewBag.Category1 = "Material Received & Consumed";
    int count = 1;
}

<div class="row">
    <div class="col-md-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr bg-primary-800 min-height-reset height-3">
                <h2>
                    SMT Material - Received & Consumed
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    @using (Html.BeginForm("SmtMaterial", "SMT", FormMethod.Post, new { id = "form", @class = "needs-validation", enctype = "multipart/form-data", novalidate = "novalidate" }))
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bold">Action</label>
                                    <div class="col-sm-6 mt-2">
                                        <div class="icheck-primary d-inline">
                                            <input type="radio" id="radioPrimary1" name="r1" value="Receive" checked>
                                            <label for="radioPrimary1">
                                                Receive
                                            </label>
                                        </div>
                                        <div class="icheck-danger d-inline ml-5">
                                            <input type="radio" id="radioPrimary2" name="r1" value="Consume">
                                            <label for="radioPrimary2">
                                                Consume
                                            </label>
                                        </div>
                                    </div>
                                    <input asp-for="Action" type="hidden" value="@Model.Action" />
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bold">Material Category</label>
                                    <div class="col-sm-6">
                                        <select class="select2 custom-select form-control w-100" asp-for="MaterialCategory" required asp-items="@(new SelectList(Model.MaterialCategoryList, "Value", "Text"))">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bold">Vendor</label>
                                    <div class="col-sm-6">
                                        <select class="select2 custom-select form-control w-100" asp-for="VendorName" required asp-items="@(new SelectList(Model.SMTVendorList, "Value", "Text"))">
                                            <option value="">Select</option>
                                        </select>
                                        <input asp-for="VendorNameHdn" type="hidden" value="@Model.VendorNameHdn" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bold">Part No.</label>
                                    <div class="col-sm-6">
                                        <input asp-for="PartNo" type="text" class="form-control" readonly required placeholder="Part number">
                                    </div>
                                </div>
                                <div class="form-group row" id="divSplit">
                                    <label class="col-sm-4 col-form-label">Split Material</label>
                                    <div class="col-sm-6">
                                        <select class="select2 custom-select form-control w-100" asp-for="Split" required>
                                            <option value="">Select</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="-1">-1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label font-weight-bold">QR Code Value</label>
                                    <div class="col-sm-6">
                                        <input asp-for="QRCode" autocomplete="off" type="text" class="form-control" required placeholder="Please scan QR Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10 mt-3">
                                        <button type="submit" name="submit" class="btn btn-primary btn-sm">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><hr></div>
                        </div>
                        <div class="row">
                            @if (TempData["SubQRCodeList"] != null)
                            {
                                count = 1;
                                var listdata = TempData["SubQRCodeList"] as List<eConnectV2.ViewModels.SplitMaterial>;
                                foreach (var item in listdata)
                                {
                                    var divId = "qrcodeprint" + count;
                                    <div class="col-md-4 text-center mb-5">
                                        <h4 class="text-info"><strong>Sub QR Code: </strong><span class="text-muted font-weight-bold">@item.SubQRCode</span></h4>
                                        <div id="@divId">
                                            <table width="100%" height="100%">
                                                <tr>
                                                    <td align="center" valign="middle">
                                                        <div>
                                                            <img src="@item.ImgSubQRCode" alt="QRCode" />
                                                            <br />
                                                            <span class="font-weight-bold">@item.SubQRCode</span>
                                                            <br />
                                                            <strong><span>Week No. @item.WeekNo</span></strong>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <button type="button" class="btn btn-sm btn-success waves-effect waves-themed" onclick='PrintQrCodeDiv(@count);'>
                                            <span class="fas fa-print mr-1"></span>
                                            Print
                                        </button>
                                    </div>
                                    count++;
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock {
    <script src="~/js/select.js"></script>
    <script src="~/js/defaultformvalidate.js"></script>
    <script src="~/js/smt_printqrcodediv.js"></script>
    <script>
        var action = '@Model.Action'
        $(document).ready(function () {
            $(function () {
                var vendor = $('#VendorName').val();
                if (vendor == '315130000024') {
                    $('#divSplit').show();
                    $("#Split option[value=-1]").remove();
                }
                else {
                    $('#divSplit').hide();
                    AddSplitNegValue();
                    $('#Split').val(-1).change();
                }
                $(function () {
                    $('.select2').select2();
                });
                if (action != '') {
                    if (action == 'Consume') {
                        $("#radioPrimary1").prop("checked", false);
                        $("#radioPrimary2").prop("checked", true);
                        $('#divSplit').hide();
                        AddSplitNegValue();
                        $('#Split').val(-1).change();
                    }
                    else {
                        $("#radioPrimary1").prop("checked", true);
                        $("#radioPrimary2").prop("checked", false);
                    }
                }
            });
            $('#MaterialCategory').on('select2:select', function (e) {
                $('#PartNo').val('');
                $('#divSplit').hide();
                AddSplitNegValue();
                $('#Split').val(-1).change();
                BindSupplier(e.params.data.id);
            });
            $('input:radio[name="r1"]').change(
                function () {
                    if ($(this).is(':checked') && $(this).val() == 'Consume') {
                        $('#Action').val('Consume');
                        $('#divSplit').hide();
                        AddSplitNegValue();
                        $('#Split').val(-1).change();
                    }
                    else {
                        $('#Action').val('Receive');
                        var vendor = $('#VendorName').val();
                        if (vendor == '315130000024') {
                            $('#divSplit').show();
                            $("#Split option[value=-1]").remove();
                        }
                    }
                });
        });
        function BindSupplier(material) {
            var requestUrl = 'SMT/GetMaterialSuppliers';
            $.post(requestUrl,
                {
                    material: material
                },
                function (data, status) {
                    $("#VendorName").empty();
                    $("#VendorName").append($("<option></option>").val('').html('Select'));
                    $.each(data, function (index, item) {
                        $("#VendorName").append($("<option></option>").val(item.value).html(item.text));
                    });
                });
        }
        $('#VendorName').on('select2:select', function (e) {
            $('#PartNo').val(e.params.data.id);
            $('#VendorNameHdn').val(e.params.data.text);
            if (e.params.data.id == '315130000024') {
                var actionType = $('#Action').val();
                if (actionType == 'Receive') {
                    $('#divSplit').show();
                    $("#Split option[value=-1]").remove();
                    $('#Split').val('').change();
                }
                else {
                    $('#divSplit').hide();
                    AddSplitNegValue();
                    $('#Split').val(-1).change();
                }
            }
            else {
                $('#divSplit').hide();
                AddSplitNegValue();
                $('#Split').val(-1).change();
            }
        });
        function AddSplitNegValue() {
            var haveNVal = false;
            $("#Split select.select option").each(function () {
                if ($(this).val() == '-1') {
                    haveNVal = true;
                }
            });
            if (!haveNVal) {
                var data = {
                    id: -1,
                    text: '-1'
                };
                var newOption = new Option(data.text, data.id, false, false);
                $('#Split').append(newOption).trigger('change');
            }
        }
    </script>
}